<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div style="text-align: center; margin-top: 40px">
      <img
        src="../../assets/icon/Logo_DuocUC.svg.png"
        alt="Duoc UC"
        style="width: 150px"
      />
    </div>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Asistencia DUOC - Inicio</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [(ngModel)]="componenteActual"
    >
      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miclase">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misdatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-button
      (click)="cerrarSesion()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>
