<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text font-size-18">Sistema Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<div class="book">
  <ion-content [fullscreen]="true" class="ion-padding-horizontal page" #page>
    <ion-title class="ion-padding-top">
      <ion-item>
        <ion-label>
          <h1 class="ion-text-center">
            ¡Bienvenido(a) Estudiante!
          </h1>
        </ion-label>
      </ion-item>
    </ion-title>


    <b class="ion-text-center">
      <h4> {{ usuario.nombre }} {{ usuario.apellido }} </h4>
    </b>
