/* Fondo general */
ion-content {
  background-image: url("/assets/icon/fondo.jpg");
  background-size: cover;
  background-position: center;
  --ion-background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de texto */
h2,
p {
  color: black;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  text-align: center;
}

/* Contenedor de formulario */
.centrado-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.marco {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  max-width: 400px;
  width: 100%;
}

/* Estilos para los ion-item y inputs */
ion-item,
ion-input {
  --ion-background-color: rgba(255, 255, 255, 0.8);
  --ion-box-shadow-color: #ffffff;
  margin: 10px 0;
  --padding-start: 10px;
}

ion-input {
  --color: #000000;
  --placeholder-color: #888;
}

/* Botón de ingreso */
.alinear-centro {
  display: flex;
  justify-content: center;
}

ion-button {
  --background: #3880ff;
  --color: white;
  --border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-button:hover {
  --background: #3171e0;
}

/* Logo en el encabezado */
ion-header {
  --background: transparent;
  text-align: center;
}

.custom-toolbar {
  --ion-background-color: transparent;
  padding: 20px 0;
}

img {
  width: 150px;
  margin-top: 20px;
}
